:root {
  --color-iris: #4d5ae5ff;
  --color-ocean: #404bbfff;
  --color-navy-blue: #2e2f42ff;
  --color-green: #31d0aaff;
  --color-slate: #434455ff;
  --color-light-slate: #8e8f99ff;
  --color-cornflower: #e7e9fcff;
  --color-cloud: #f4f4fdff;
  --color-navy-blue-modal: #2e2f4266;
  --color-grey: #2e2f42b3;
  --color-white: #ffffff;
  --color-modal: #fcfcfc;
  --box-shadow-card: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  --box-shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
}

body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding: 96px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  margin: 0 auto;
}
.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-iris);
  color: var(--color-cloud);
}
.soc-icon {
  fill: currentColor;
}
.btn-close {
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px auto;
}

/* -----------------------------HEADER------------------------------------- */
.header {
  border-bottom: 1px solid var(--color-cornflower);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 22px;
}
.header-nav-list,
.header-address {
  display: none;
}
.header-logo-studio {
  color: var(--color-navy-blue);
}
.header-btn-menu {
  background-color: transparent;
  border: none;
}
.header-icon-menu {
  stroke: var(--color-navy-blue);
}
.mob-menu {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 40px 40px;
  background-color: var(--color-white);
}
.mob-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--color-ocean);
}
.mob-menu-address {
  font-style: normal;
  margin-bottom: 48px;
}
.mob-menu-address-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-address-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.mob-menu-address-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-iris);
}
.mob-menu-soc-list {
  justify-content: start;
  gap: 28px;
}

.mob-menu-soc-link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

/* -----------------------------HERO------------------------------------- */
.hero {
  max-width: 767px;
  height: 432px;
  margin: 0 auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob/hero-bg-mob@2x.jpg);
  }
}
.hero-title {
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin: 0 auto 72px;
}

/* -----------------------------SECTION1 OPTION------------------------------------- */
.option-item:not(:last-child) {
  margin: 0 0 72px;
}
.option-icon-wrap {
  display: none;
}
.option-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.option-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* -----------------------------SECTION2 WORKS------------------------------------- */
.works {
  display: none;
}

/* -----------------------------SECTION3 TEAM------------------------------------- */
.team {
  background-color: var(--color-cloud);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.team-item {
  width: 264px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-card);
  margin: 0 auto;
}
.team-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-info {
  padding: 32px 16px;
  text-align: center;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-soc-list {
  gap: 24px;
}

/* -----------------------------SECTION4 CUSTOMERS------------------------------------- */
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}
.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  padding: 16px 40px;
  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
}
.customer-icon {
  width: 110px;
  height: 56px;
  fill: currentColor;
}

/* -----------------------------FOOTER------------------------------------- */
.footer {
  background-color: var(--color-navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-info,
.footer-soc,
.footer-subscribe {
  text-align: center;
}
.footer-info,
.footer-soc {
  margin-bottom: 72px;
}
.footer-logo-studio {
  color: var(--color-cloud);
}
.footer-text {
  width: 268px;
  margin: 16px auto 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
}
.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-soc-list {
  gap: 16px;
}
.footer-subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-subscribe-form {
  position: relative;
}
.footer-subscribe-email {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-white);
  outline: transparent;
  opacity: 0.15;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding-left: 16px;
  margin-bottom: 16px;
}
.footer-subscribe-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(8px);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
  opacity: 0.6;
  padding-left: 16px;

  transition: transform var(--transition),
    opacity var(--transition);
}
.footer-subscribe-email:focus {
  opacity: 1;
}
.footer-subscribe-email:focus + .footer-subscribe-label,
.footer-subscribe-email:not(:placeholder-shown)
  + .footer-subscribe-label {
  transform: translateY(-100%);
  opacity: 0;
}
.footer-subscribe-btn {
  display: flex;
  padding: 8px 24px;
}
.footer-subscribe-btn-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* -----------------------------MODAL------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-navy-blue-modal);

  transition: opacity var(--transition),
    visibility var(--transition);
}
.modal {
  position: absolute;
  width: calc(100% - 18px);
  min-height: 584px;
  background-color: var(--color-modal);
  opacity: 100%;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 16px;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  transition: transform var(--transition),
    opacity var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2) rotate(270deg);
  opacity: 20%;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 16px;
}
.modal-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 4px;
  padding: 0 34px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-navy-blue);
}
.modal-input-icon {
  position: absolute;
  fill: currentColor;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
}
.modal-field {
  display: flex;
  align-items: center;
}
.modal-checkbox-wrap {
  margin: 16px auto 24px;
}
.modal-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 2px;
  fill: transparent;

  transition: border-color var(--transition),
    background-color var(--transition),
    fill var(--transition);
}

.modal-checkbox:checked + .modal-check-icon {
  border-color: transparent;
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
}
.modal-label-check {
  max-width: 338px;
  margin: 0;
}
.modal-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--color-iris);
}
.modal-btn {
  width: 169px;
  height: 56px;
  box-shadow: var(--box-shadow-btn);
  border: 0;
  padding: 16px 32px;
  margin: 0 auto;
}

/* -------------------------------------PORTFOLIO------------------------------------ */
.portfolio {
  padding: 96px 0;
}
.filters-list {
  width: 308px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}
.filters-btn {
  text-align: center;
  color: var(--color-iris);
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition),
    background-color var(--transition),
    border var(--transition), box-shadow var(--transition);
}
.filters-btn:is(:hover, :focus) {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid var(--color-ocean);
  box-shadow: var(--box-shadow-btn);
}

/* -------------------------------------PORTFOLIO EXEMPLE------------------------------------ */
.exemple-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.exemple-item {
  width: 100%;
  transition: box-shadow var(--transition);
}
.exemple-item:is(:hover, :focus) {
  box-shadow: var(--box-shadow-card);
}
.exemple-link {
  display: block;
}
.exemple-cover-wrap {
  overflow: hidden;
}
.exemple-cover-text {
  display: none;
}
.card-tumb {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.exemple-subtite {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.exemple-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
