:root {
  --color-iris: #4d5ae5ff;
  --color-ocean: #404bbfff;
  --color-navy-blue: #2e2f42ff;
  --color-green: #31d0aaff;
  --color-slate: #434455ff;
  --color-light-slate: #8e8f99ff;
  --color-cornflower: #e7e9fcff;
  --color-cloud: #f4f4fdff;
  --color-navy-blue-modal: #2e2f4266;
  --color-grey: #2e2f42b3;
  --color-white: #ffffff;
  --color-modal: #fcfcfc;
  --box-shadow-card: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  --box-shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
}

body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ---------------------------------HEADER-------------------------------- */
.header {
  border-bottom: 1px solid var(--color-cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  gap: 74px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.logo-web {
  color: var(--color-navy-blue);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:is(:hover, :focus) {
  color: var(--color-ocean);
}

.active {
  position: relative;
  color: var(--color-ocean);
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
  display: block;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-adderess-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:is(:hover, :focus) {
  color: var(--color-ocean);
}

/* ---------------------------------HERO-------------------------------- */
.hero {
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
  margin: 0 auto 48px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

/* ---------------------------------SECTION1 OPTION-------------------------------- */
.option-list {
  display: flex;
  gap: 24px;
}

.option-item {
  width: calc((100%-72) / 4);
}

.option-icon-wrap {
  width: 100%;
  height: 112px;
  border-radius: 4%;
  background-color: var(--color-cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.option-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding-bottom: 8px;
}

.option-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------------------SECTION2 WORKS-------------------------------- */
.works-container {
  padding-bottom: 120px;
}

.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

.works-list {
  display: flex;
  gap: 24px;
}

/* ---------------------------------SECTION3 TEAM -------------------------------- */
.team {
  background-color: var(--color-cloud);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100%-72px) / 4);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-card);
}

.team-item > .info {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cloud);
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}
/* ---------------------------------CUSTOMERS-------------------------------- */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
}

.customer-link:is(:hover, :focus) {
  color: var(--color-ocean);
  border: 1px solid var(--color-ocean);
}
/* ---------------------------------FOOTER-------------------------------- */
.footer {
  background-color: var(--color-navy-blue);
}
.footer-container {
  display: flex;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: var(--color-cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
  width: 264px;
}

.footer-soc {
  margin-right: 80px;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cloud);
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--color-green);
}

.footer-subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-email {
  position: relative;
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-white);
  outline: transparent;
  opacity: 0.15;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding-left: 16px;
}

.footer-subscribe-label {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding-left: 16px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-email:focus{
  opacity: 1;
}

.footer-subscribe-email:focus + .footer-subscribe-label,
.footer-subscribe-email:not(:placeholder-shown)
  + .footer-subscribe-label {
  transform: translateY(-100%);
  opacity: 0;
}

.footer-subscribe-btn {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  border-radius: 4px;
  border: 0;
  padding: 8px 24px;
}
.footer-subscribe-btn-icon {
  fill: currentColor;
  margin-left: 16px;
}

.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--color-ocean);
}
/* ---------------------------------PORTFOLIO-------------------------------- */
/* ---------------------------------PORTFOLIO FILTERS-------------------------------- */
.portfolio {
  padding: 96px 0 120px;
}

.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:is(:hover, :focus) {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid var(--color-ocean);
  box-shadow: var(--box-shadow-btn);
}

/* ---------------------------------PORTFOLIO EXEMPLE-------------------------------- */
.exemple-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.exemple-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemple-item:is(:hover, :focus) {
  box-shadow: var(--box-shadow-card);
}

.exemple-link {
  display: block;
}

.exemple-cover-wrap {
  position: relative;
  overflow: hidden;
}

.exemple-cover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  padding: 32px 40px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemple-link:is(:hover, :focus) .exemple-cover-text {
  transform: translateY(0);
}

.card-tumb {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.exemple-subtite {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.exemple-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* ---------------------------------MODAL-------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-navy-blue-modal);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  background-color: var(--color-modal);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 100%;
  padding: 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2) rotate(270deg);
  opacity: 20%;
}

.modal-btn-close {
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 24px auto;

  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:is(:hover, :focus) {
  background-color: var(--color-ocean);
  border: 0px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  margin-bottom: 4px;
}

.modal-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 45px;
  outline: transparent;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 4px;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-navy-blue);
  transition: border-color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  fill: currentColor;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-iris);
}

.modal-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
}

.modal-field {
  display: flex;
  align-items: center;
}

.modal-checkbox-wrap {
  margin: 16px auto 24px;
}

.modal-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 2px;
  fill: transparent;

  transition: border-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-check-icon {
  border-color: transparent;
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
}

.modal-label-check {
  margin: 0;
}

.modal-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--color-iris);
}

.modal-btn {
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: var(--box-shadow-btn);
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
